.grid {
  margin: 0 auto;
}

.grid__sizer,
.grid__item {
  /*width: 270px;*/
  width: 100%;
}

.grid__item {
  margin-bottom: 30px;
}

/*.grid__item--width2 {
  !*width: 46%;*!
  width: 270px;
}*/


@media (min-width: 768px) {
  .grid__sizer,
  .grid__item {
    width: 215px;
  }

  .grid__item--width2 {
    width: 455px;
  }
}

@media (min-width: 900px) {
  .grid__sizer,
  .grid__item {
    width: 205px;
  }

  .grid__item--width2 {
    width: 435px;
  }
}
