.subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 1.3;
  font-weight: 700;
}

@media (min-width: 768px) {
  .subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 65px;
    line-height: 1.3;
  }
}
