.works {
  margin-top: 15px;
}

.works__button-wrapper {
  margin-bottom: 20px;
}

.works__button {
  padding: 5px 10px;
  border: 0;
  font-size: inherit;
  color: #000000;
  background-color: #58a6ff;/*#2ac8fa;*/
  border-radius: 5px;
  cursor: pointer;
}

.works__button:hover,
.works__button:active,
.works__button.is-checked {
  color: #ffffff;
  background-color: #036cda;
}
